/SupermarketOnline/.classpath
/SupermarketOnline/.gradle
/SupermarketOnline/bin
/SupermarketOnline/build
/SupermarketOnline/logs
/SupermarketOnlineStatic/dist
/SupermarketOnlineStatic/node_modules
/SupermarketOnlineStatic/nginx/temp
/SupermarketOnlineStatic/nginx/logs
/SupermarketOnlineStatic/.vscode
